/* Chatbot Container */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #87CEFA;
  }
  
  /* Profile Picture */
  .profile-circle{
    position: absolute;
    width: 7rem;
    height: 7rem;
    image-rendering: pixelated;
    top: 10%

  }
  /* Chat Header */
  .chat-header {
    margin-top: 20px;
    color: white;
    font-size: 32px;
    text-align: center;
  }
  
  /* Chat Box */
  .chat-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    height: 50%;
    overflow-y: auto;
  }
  
  /* Message Styles */
  .message {
    background-color: #8B5A66;
    color: white;
    padding: 10px;
    border-radius: 20px;
    max-width: 60%;
    margin-bottom: 10px;
  }
  
  .user-message {
    align-self: flex-end;
    background-color: #8B5A66;
  }
  
  .bot-message {
    align-self: flex-start;
    background-color: #4C4C6D;
  }
  
  /* Input Area */
  .input-area {
    display: flex;
    width: 60%;
    margin-bottom: 20px;
  }
  
  /* Input Field */
  .chat-input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Send Button */
  .send-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #9370DB;
    color: white;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #7B68EE;
  }
  